.loadingToRedirect {
  // display: block !important;
  /* margin-top: calc(-9rem + 10px); */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex: 1;
  //   position: relative;
  height: 50rem;
  flex-direction: column;
  margin-top: 5%;
}
